.elementor-navigation {
	margin: 0 !important;

	.menu-item {
		a {
			line-height: 1.2;

			@media screen and (min-width: 56.875em) {
				padding: 0 25.5px;
				outline-offset: 0px;
			}
		}

		&.menu-item-has-children {
			position: relative;

			a {
				margin-right: 0;

				@media screen and (max-width: 56.874em) {
					margin-right: 32px;
				}

				@media screen and (min-width: 56.875em) {
					margin-right: 0;
					padding: 0 25.5px;
					outline-offset: 0px;
				}
			}

			& > a::after {
				top: 0;
				right: 11px;

				.main-menu &,
				.site-menu & {
					display: none;
				}
			}
		}
	}

	.sub-menu {
		.menu-item {
			a {
				@media screen and (min-width: 56.875em) {
					padding: 5px 25.5px;
				}
			}
		}
	}

	li:hover > ul,
	li.focus > ul {
		top: 100%;
	}
}

.elementor-menu {
	background-color: transparent;
}

.elementor-nav-menu {
	font-size: 0;

	.menu-item {
		font-size: 14px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.1em;

		a {
			color: #808369;
			background-color: transparent;
			border-style: solid;
			border-width: 0 1px 0 0;
			border-color: rgba(67,67,67,0.2);
			
			&:hover {
				color: #434343;
			}

			@media screen and (max-width: 56.874em) {
				border-width: 0;
				padding: 8px 0;
			}
		}

		.main-menu &,
		.site-menu & {
			&:last-child {
				a {
					border-right: none !important;
				}
			}
		}
	}

	.sub-menu {
		padding: 16px 0 8px;
		background-color: #f3f1ec;

		@media screen and (max-width: 56.874em) {
			padding: 10px;
			background-color: #f4f2ed;
		}

		.menu-item {
			a {
				border: none;

				@media screen and (max-width: 56.874em) {
					padding: 8px 0;
				}
			}
		}
	}

	.current-menu-item > a,
	.current_page_item > a {
		color: #434343;
	}

	.eldropdown-toggle {
		width: 32px;
		height: 32px;
		color: #808369;
		background-color: transparent;
	
		&::after {
			border: none;
			left: 0;
			width: 32px;
			line-height: 32px;
			font-size: 22px;
		}
	
		&:hover,
		&:focus {
			background-color: transparent;
			color: #434343;
			outline: none;
		}
	}
}

.elementor-menu-toggle {
	background-color: #ffb18b;

	&.eltoggled-on {
		background-color: #ff915c;
	}

	i.fa.fa-navicon {
		color: #ffffff;
	}

	.main-menu &,
	.site-menu & {
		margin: 0;
		font-size: 0;
		line-height: 1;
		padding: 12px;
		
		i.fa.fa-navicon {
			font-size: 16px;
			width: 16px;
			text-align: center;
		}
	}
}

.elementor-tablet-align-right {
	&.main-menu,
	&.site-menu {
		@media (max-width: 1024px) {
			text-align: center !important;
		}
		@media (max-width: 768px) {
			text-align: right !important;
		}
	}
}

body.home {
	.site-menu {
		display: none;
	}
}

body:not(.home) {
	.main-menu {
		display: none;
	}
}
