a {
	color: #ffb18b;
	transition: 0.1s;

	&:focus {
		outline: none;
	}

	&:hover,
	&:focus,
	&:active, {
		color: #ff915c;
	}
}

body:not(.home) .site-content-contain {
	background-color: #f3f1ec;
}

button,
input[type="button"],
input[type="submit"] {
	background-color: #ffb18b;
	border-radius: 0px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	padding: 22px 53px;
	transition: 0.3s;
	letter-spacing: 1.6px;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: #ff915c;
		color: #ffffff;
	}

	@media (max-width: 1024px) {
		font-size: 13px;
	}
}

button:hover,
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
	background: #ff915c;
}

.elementor-button {
	background-color: #ffb18b;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 1.6px;
	line-height: 1.2;
	font-weight: 700;

	&:hover,
	&:focus {
		background-color: #ff915c;
		color: #ffffff;
	}

	&:focus, 
	&:hover, 
	&:visited {
		opacity: 1;
	}

	&.elementor-size {
		&-xl,
		&-lg,
		&-md,
		&-sm,
		&-xs {
			border-radius: 0;
			font-size: 14px;

			@media (max-width: 1024px) {
				font-size: 13px;
			}
		}

		&-lg {
			padding: 22px 53px;
		}

		&-xl {
			padding: 25px 65px;
		}
	}
}

.entry-content a:focus,
.entry-content a:hover,
.entry-summary a:focus,
.entry-summary a:hover,
.comment-content a:focus,
.comment-content a:hover,
.widget a:focus,
.widget a:hover,
.site-footer .widget-area a:focus,
.site-footer .widget-area a:hover,
.posts-navigation a:focus,
.posts-navigation a:hover,
.comment-metadata a:focus,
.comment-metadata a:hover,
.comment-metadata a.comment-edit-link:focus,
.comment-metadata a.comment-edit-link:hover,
.comment-reply-link:focus,
.comment-reply-link:hover,
.widget_authors a:focus strong,
.widget_authors a:hover strong,
.entry-title a:focus,
.entry-title a:hover,
.entry-meta a:focus,
.entry-meta a:hover,
.page-links a:focus .page-number,
.page-links a:hover .page-number,
.entry-footer a:focus,
.entry-footer a:hover,
.entry-footer .cat-links a:focus,
.entry-footer .cat-links a:hover,
.entry-footer .tags-links a:focus,
.entry-footer .tags-links a:hover,
.post-navigation a:focus,
.post-navigation a:hover,
.pagination a:not(.prev):not(.next):focus,
.pagination a:not(.prev):not(.next):hover,
.comments-pagination a:not(.prev):not(.next):focus,
.comments-pagination a:not(.prev):not(.next):hover,
.logged-in-as a:focus,
.logged-in-as a:hover,
a:focus .nav-title,
a:hover .nav-title,
.edit-link a:focus,
.edit-link a:hover,
.site-info a:focus,
.site-info a:hover,
.widget .widget-title a:focus,
.widget .widget-title a:hover,
.widget ul li a:focus,
.widget ul li a:hover {
	box-shadow: none;
}

label {
	color: #434343;
	font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #80826a;
	border: 1px solid #929292;
	border-radius: 0;
	padding: 22px 44px 23px;

	@media (max-width: 767px) {
		padding: 16px 25px 17px;
	}
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #434343;
	border-color: #434343;
}

select {
	border: 1px solid #434343;
	border-radius: 0;
	height: 3em;
}

input,
select,
textarea {
	font-size: 14px;
	font-family: "PT Serif", serif;
	font-weight: 700;
	color: #80826a;
	letter-spacing: 0.1em;
}

::placeholder {
	font-size: 14px;
	font-family: "PT Serif", serif;
	font-weight: 700;
	color: #80826a;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

:focus::placeholder {
	color: #434343;
}

input.search-field {
	padding: 17px 28px 18px;
}

.nav-links {
	a.page-numbers {
		border: none;
		display: inline-block;
		height: auto;
		line-height: 1;
		margin: 0;
		min-width: none;
		text-align: center;
		text-decoration: none;
	}
}

.prev.page-numbers,
.next.page-numbers {
	border-radius: 0;
	background-color: #ffb18b;
	color: #ffffff;

	&:hover,
	&:focus {
		background-color: #ff915c;
	}
}

.wpcf7 {
	input,
	select,
	textarea {
		margin-bottom: 29px;
		border: none;
	}

	textarea {
		height: 209px;
	}

	input[type="submit"] {
		margin: 29px 0 44px;

		@media (max-width: 767px) {
			margin-bottom: 68px;
		}
	}

	.col-sm-12 {
		width: 100%;
	}

	.submit-block {
		text-align: center;

		input[type="submit"] {
			margin-left: 26px;
		}
	}

	.ajax-loader {
		margin-left: 10px !important;
		vertical-align: -3px !important;
	}

	.wpcf7-not-valid-tip {
		font-size: 12px;
		margin-top: -28px;
		margin-bottom: 8px;
		margin-left: 44px;
		color: #ff915c;

		@media (max-width: 767px) {
			margin-left: 25px;
		}
	}

	.wpcf7-response-output {
		margin: -24px 0 0;
		padding: 0;
		border: none;
		text-align: center;

		@media (max-width: 767px) {
			margin: -48px 0 0;
		}
	}
}

.n2-ss-spinner-simple-white {
	&-container {
		margin: 0 !important;
		transform: translate(-50%, -50%);
	}

	&::before {
		margin-top: -10px !important;
		margin-left: -10px !important;
	}
}

.entry-title a,
.entry-meta a,
.page-links a,
.page-links a .page-number,
.entry-footer a,
.entry-footer .cat-links a,
.entry-footer .tags-links a,
.edit-link a,
.post-navigation a,
.logged-in-as a,
.comment-navigation a,
.comment-metadata a,
.comment-metadata a.comment-edit-link,
.comment-reply-link,
a .nav-title,
.pagination a,
.comments-pagination a,
.site-info a,
.widget .widget-title a,
.widget ul li a,
.site-footer .widget-area ul li a,
.site-footer .widget-area ul li a {
	box-shadow: none;
}

body.elementor-template-full-width {
	.site-content {
		padding: 0;
	}
}

body:not(.elementor-template-full-width) {
	.site-content {
		padding: 100px 0 80px;
	
		@media (max-width: 767px) {
			padding: 50px 0 70px;
		}
	}
}

.single-featured-image-header {
	padding: 100px 0 0;
	background-color: #f3f1ec;
	border: none;

	@media (max-width: 767px) {
		padding: 0;
	}

	.single-tm-testimonials &,
	.single-cherry-services &,
	.single-team &,
	.single-projects & {
		display: none;
	}
}

body:not(.elementor-template-full-width)  {
	.site-content {
		margin-left: auto;
		margin-right: auto;
		max-width: 700px;
		padding-left: 2em;
		padding-right: 2em;
	
		@media screen and (min-width: 48em) {
			max-width: 1000px;
			padding-left: 3em;
			padding-right: 3em;
		}
	}

	.wrap {
		padding: 0;
		max-width: none;
	}
}

.entry-footer .edit-link a.post-edit-link {
	background-color: #ffb18b;
	border-radius: 0px;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 1.2;
	padding: 16px 32px;
	transition: 0.3s;
	letter-spacing: 1.6px;
	text-transform: uppercase;

	&:hover,
	&:focus {
		background-color: #ff915c;
		color: #ffffff;
	}

	@media (max-width: 1024px) {
		font-size: 13px;
	}
}

.single-post .entry-title,
.page .entry-title {
	font-size: 30px;
	line-height: 1.2;
}
