.cherry-projects-wrapper {
	.cherry-spinner-double-bounce {
		.cherry-double-bounce1,
		.cherry-double-bounce2 {
			background-color: #ffb18b;
		}
	}
	
	.projects-item-instance {
		.simple-icon {
			background-color: #ffb18b;
			color: #fff;
			width: 50px;
			height: 50px;
			border-radius: 50%;

			@media (max-width: 1024px) {
				width: 40px;
				height: 40px;
			}

			&:hover {
				background-color: #ff915c;
			}

			.dashicons {
				width: 40px;
				height: 40px;
				line-height: 40px;

				@media (max-width: 1024px) {
					width: 30px;
					height: 30px;
					line-height: 30px;
				}
			}
		}
	}
}
