.cherry-team {
	&.template-default {
		.avatar {
			border-radius: 50%;
			display: block;
			transition: 0.3s;
		}

		.team-listing_photo {
			a {
				&:hover {
					.avatar {
						transform: scale(0.9);
					}
				}
			}
		}

		.team-item {
			text-align: center;
		}

		.team-listing_name {
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 0;
			padding-top: 30px;
			margin-bottom: 5px;

			@media (max-width: 1024px) {
				font-size: 18px;
				padding-top: 10px;
			}

			a {
				color: #808369;

				&:hover {
					color: #ff915c;
				}
			}
		}

		.team-listing_position {
			font-size: 14px;
			font-weight: 400;
			color: #919191;
		}
	}
}
