body {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.719;
	letter-spacing: 0em;
	text-transform: none;
	color: #929292;
}

h1,
.elementor-widget-heading h1.elementor-heading-title {
	&,
	.normal & {
		font-family: 'PT Serif', serif;
		font-style: normal;
		font-weight: 700;
		font-size: 60px;
		line-height: 1;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #434343;
	
		@media (max-width: 1024px) {
			font-size: 36px;
		}
	}
}

h2,
.elementor-widget-heading h2.elementor-heading-title {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 35px;
	line-height: 1.2;
	letter-spacing: 0em;
	text-transform: none;
	color: #434343;

	@media (max-width: 767px) {
		font-size: 28px;
	}
}

h3,
.elementor-widget-heading h3.elementor-heading-title {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 22px;
	line-height: 1.5;
	letter-spacing: 0em;
	text-transform: none;
	color: #434343;
}

h4,
.elementor-widget-heading h4.elementor-heading-title {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.75;
	letter-spacing: 0em;
	text-transform: none;
	color: #808369;
}

h5,
.elementor-widget-heading h5.elementor-heading-title {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.1em;
	text-transform: none;
	color: #808369;
}

h6,
.elementor-widget-heading h6.elementor-heading-title {
	font-family: 'PT Serif', serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.2;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: #808369;
}

.invert {
	&,
	h1,
	.elementor-widget-heading h1.elementor-heading-title,
	h2,
	.elementor-widget-heading h2.elementor-heading-title,
	h3,
	.elementor-widget-heading h3.elementor-heading-title,
	h4,
	.elementor-widget-heading h4.elementor-heading-title,
	h5,
	.elementor-widget-heading h5.elementor-heading-title,
	h6,
	.elementor-widget-heading h6.elementor-heading-title,{
		color: #ffffff;
	}
}
